<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @fonecedor.nome %>
</p>

<p>
  <strong>Tipo servico:</strong>
  <%= @fonecedor.tipo_servico %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @fonecedor.endereco %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @fonecedor.descricao %>
</p>
<p>
  <strong>Contato:</strong>
  <%= @fonecedor.contato %>
</p>

<%= link_to 'Back', fonecedors_path, class: 'btn btn-default' %>
<%= link_to 'Contratar', contratos_path, class: 'btn btn-default' %>